/* 

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Red: hsl(4, 100%, 67%)

### Neutral

- Blue 800: hsl(234, 29%, 20%)
- Blue 700: hsl(235, 18%, 26%)
- Grey: hsl(0, 0%,58%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Roboto](https://fonts.google.com/specimen/Roboto)
- Weights: 400, 700
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: hsl(235, 18%, 26%);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.hidden {
  display: none !important;
}
.container {
  margin: 10rem auto;
  /* max-width: 96rem; */
  background-color: hsl(0, 0%, 100%);
  border-radius: 13px;
}
.container--1 {
  max-width: 96rem;
}
.container--2 {
  max-width: 40rem;
  padding: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
.grid {
  display: grid;
  grid-template-columns: 100fr 89fr;
  padding: 2rem;
}

.form-img {
  text-align: right;
  width: 100%;
}
.form {
  padding: 3rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
}
.form-title {
  padding-top: 7rem;
  font-size: 5.5rem;
  color: hsl(234, 29%, 20%);
  margin-bottom: 2.3rem;
}
.form-description {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
  color: hsl(235, 18%, 26%);
}
.form-list {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.form-list li {
  color: hsl(235, 18%, 26%);
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  gap: 1.4rem;
}
.form-list li:last-child {
  margin-bottom: 4rem;
}
.list-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  font-size: 1.25rem;
  display: block;
  font-weight: 700;
  margin-bottom: 1rem;
}
form input,
form button {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1.4rem;
  border: 1px solid black;
  border-radius: 8px;
  /* font-size: 1.6rem; */
}
form input {
  font-size: 1.4rem;
  border: 1px solid hsl(231, 7%, 60%);
}
form button {
  border: none;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background-color: hsl(4, 100%, 67%);
  font-size: 1.7rem;
}
/* message styling             */
.flex {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 2rem;
}
.img {
  height: 4rem;
  width: 4rem;
  /* margin-bottom: 2.5rem; */
}
.message-title {
  line-height: 1;
  font-size: 5rem;
  color: hsl(234, 29%, 20%);
  /* margin-bottom: 2rem; */
}
.message-description {
  line-height: 1.4;
  font-size: 1.35rem;
}
.message-description span {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
}
.message-btn {
  padding: 1.3rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}
.message-btn:hover {
  background-color: hsl(4, 100%, 67%);
  font-size: 1.55rem;
}
.error-class {
  display: flex;
  justify-content: space-between;
}
.error {
  color: hsl(4, 100%, 67%);
}
.error-state {
  background-color: #ffe8e6 !important;
  color: hsl(4, 100%, 67%) !important;
}
